.space {
  width: 100%;
}

.hidden.hidden {
  filter: blur(3px);
}

.tooltip.tooltip {
  max-width: none;
}
.success {
  display: flex;
  gap: $spacing-s;

  &Icon {
    color: $color-success200;
  }
}
