// colors
$color-base0: #ffffff;
$color-base50: #f5f5f5;
$color-base100: #e5e5e5;
$color-base200: #cccccc;
$color-base300: #b3b3b3;
$color-base400: #999999;
$color-base500: #808080;
$color-base600: #666666;
$color-base700: #4c4c4c;
$color-base800: #262626;
$color-base900: #1a1a1a;
$color-base1000: #000000;

$color-primary50: #ccd3ff;
$color-primary100: #96a7fa;
$color-primary200: #6375f8;
$color-primary300: #4245f5;
$color-primary400: #3625f5;
$color-primary500: #3200f0;
$color-primary600: #1100cc;
$color-primary700: #0000ad;
$color-primary800: #000093;
$color-primary900: #00007d;

$color-secondary50: #f1f3f6;
$color-secondary100: #e6ebf0;
$color-secondary200: #d1dbe4;

$color-success50: #ccffd3;
$color-success100: #96faa7;
$color-success200: #63f875;
$color-success300: #42f545;
$color-success400: #36f525;
$color-success500: #32f000;
$color-success600: #11cc00;
$color-success700: #00ad00;
$color-success800: #009300;
$color-success900: #007d00;

// spacing
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 6px;
$spacing-m: 8px;
$spacing-l: 12px;
$spacing-xl: 16px;
$spacing-xxl: 20px;
$spacing-xxl24: 24px;
$spacing-xxl32: 32px;
$spacing-xxl40: 40px;
$spacing-xxl48: 48px;
$spacing-xxl56: 56px;
$spacing-xxl64: 64px;
$spacing-xxl100: 100px;

// opacities
$opacity100: 1;
$opacity-96: 0.96;
$opacity-90: 0.9;
$opacity-80: 0.8;
$opacity-70: 0.7;
$opacity-60: 0.6;
$opacity-50: 0.5;
$opacity-40: 0.4;
$opacity-30: 0.3;
$opacity-25: 0.25;
$opacity-20: 0.2;
$opacity-15: 0.15;
$opacity-10: 0.1;
$opacity-0: 0;

// radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 6px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-xxl: 24px;
$radius-xxl32: 32px;

// fonts
$fontFamily-default: 'Helvetica Neue', sansserif;

// animation durations
$duration-01: 0.1s;
$duration-03: 0.3s;
$duration-06: 0.6s;
$duration-1: 1s;
$duration-2: 2s;
$duration-3: 3s;
$duration-short: $duration-01;
$duration-base: $duration-03;
