@use '@/theme';

.goal {
  width: 100%;
  height: 100%;
  position: relative;

  --color-primary: gray;
  --color-secondary: green;
  --color-tertiary: black;
  --animation-duration: #{theme.$duration-1};
  --animation-function: linear;
}

.item {
  position: absolute;
  background-color: var(--color-secondary);
  width: theme.$spacing-xxs;
  height: 100%;
  top: 0;
}
