@use '@/theme';

.goal {
  width: 100%;
  height: 100%;
  position: relative;

  --color-primary: gray;
  --color-secondary: green;
  --color-tertiary: black;
  --animation-duration: #{theme.$duration-1};
  --animation-function: linear;
  --font: Roboto;
  --fontSize: min(4.8vw, 20vh);
}
