@use '@/theme';

.sider {
  overflow: auto;
  height: 100vh;
  position: sticky !important;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.user {
  color: theme.$color-base0;
  padding: theme.$spacing-xl theme.$spacing-xl 0 theme.$spacing-xxl24;
  margin: theme.$spacing-xs;
  display: flex;
  gap: theme.$spacing-m;
  align-items: center;
}
.avatar {
  flex-shrink: 0;
}
.username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  position: absolute;
  inset: 0;
  opacity: theme.$opacity-0;
}
